* {
    margin: 0;
    padding: 0;
}

.ember {
    font-size: 4rem;
    margin-bottom: 30px;
}

.illustrator {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container,
h1,
h2 {
    text-align: center;
}

h1 {
    color: rgb(58, 0, 0);
}

h2 {
    color: rgb(122, 27, 12);
}

h3 {
    color: rgb(45, 22, 0);
    margin-bottom: 10px;
}

img {
    width: 400px;
}
